
body{
    color:#333;
    background-color:#fff;
    min-width: 1226px;
    margin-left:auto;
    margin-right:auto;
}


#s123{
    position: relative;
    z-index: 30;
    height: 40px;
    font-size:12px;
    color:#b0b0b0;
    background-color:#333;
    
}
a{
    color:#b0b0b0;
    text-decoration: none;
}
#zhuyao {
width:1226px;
margin-right: auto;
margin-left:auto;
}
#yemie{  
    float: left;
    height:40px;
    line-height: 40px;
}
#s233{
    color:#424242;
    margin:0.1em;   
}
#z-io{
    line-height: 40px;
    float: right;
}
#gouwuche-drive{
    float: right;
    height: 40px;
    position: relative;
    width:120px;
    margin-left:15px;
    line-height: 40px;
}
#logonav2{
    position: relative;
    z-index: 20;
    height: 100px;

}
#logoCLP{
    position: relative;
    width: 1226px;
    margin:0 auto;

}
#logo{
    float: left;
    width:62px;
    margin-top: 22px; 
}
#navCLP33{
    float: left;
    width:850px;
    height: 87px;

}
#navlist33{
    position: relative;
    z-index:10px;
    float:left;
    width:820px;
    margin:0px;
    height:88px;
    padding:12px 0px 0px 30px;
    font-size: 16px;
}
#navitem a{
    text-decoration: none;
    float: left;
    color:black;
    font-size:16px;
    display: inline-block;
    padding: auto;
    margin: 25px 10px 10px 10px;


}
#navitem33 a{
    text-decoration: none;
    position: relative;
    float:left;
    color:black;
    padding-left:142px;
    display: inline-block;
    padding: auto;
    margin: 25px 10px 10px 10px;
}
#header-search{
    float: right;
    margin-top: 25px;
    width:296px;
    height: 50px;
}
#kuan input{
    position: relative;
    width:296px;
    height:50px;
}


#main-nav{
    position: absolute;
    top:88px;
    left:0px;
    z-index:21;
    width:234px;
    height:460px;
    font-size:14px;
}

#main-33  {
    
    height:419px;
    border:0;
    background-color:rgba(0,0,0,0.6);
    margin: 0px;
    padding: 20px 0;
    list-style-type: none;
}

li a    {
    color:#fff;
}
li{
    width: 234px;
    height: 42px;
    padding-left: 30px;
}

#pic3{
    position: relative;
    width: 1226px;
    height: 460px;
    padding: 0px;

}

#home-main-clp{
  margin-right:auto;
  margin-left:auto;
  position: relative;
  z-index: 10px;
  width:1226px;
  height:196px;


}

#xiao-tu-biao33{
  width:234px;
  float: left;
  margin-top:14px;
  min-height: 1px;

  

}

#main-list2002{

  height:170px;
  margin:0px;
  padding:3px;
  list-style-type: none;
  font-size:12px;
  text-align:center;
  background-color: #5f5750;

}

#content-list33{
  position: relative;
  width:70px;
  height: 82px;
  float: left;
  padding:0 3px;
  
}


#iconfont1{
  -webkit-text-stroke-width: 0.2px;
  font-style: normal;
  width:70px;
  height:24px;
  display: block;
  height: 24px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
}
#content-listclp{
  display: block;
  padding-top: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255,255,255,0.7);
  transition: color .2s;
}

#home-main-33{
  margin-top:14px;
  margin-bottom:26px;
  width:978px;
  float:left;
  margin-left:14px;
  min-height: 1px;
}

#home-promo-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}


#CLP{
  display:block;
  height: 176px;
  color:#757575;
  text-decoration: none;

}
#pic4{
  width:316px;
  height: 176px;
}

#first{
  padding-left:0px;
  margin-left: 10px;
  float: left;
  width: 316px;
  height: 176px;
}

#box{
  position: relative;
  height:58px;
  width:1226px;
  margin-left:auto;
  margin-right: auto;

}
#tltle{
  float:left;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#more{
  top:24px;
  position: absolute;
  right: 0;
}
#xiaomishanggou3{
  height: 600px;
  width:1226px;
  margin-left:auto;
  margin-right: auto;
  
}
#xiaomishanghou2{
  height: 438px;
  width:1226px;
  margin-left:auto;
  margin-right: auto;
}

#zuojiantou33{
  margin-left: -1px;
}
#box2-33{
    position: relative;
    width:1226px;
    overflow: hidden;
    padding-bottom: 40px;

}
#diaojishi3{
    height: 340px;
    overflow: hidden;
    width:1226px;
}

#jishi{
    float: left;
    width:1226px;
    margin:0 14px 0 0;
    padding: 0;
}

#shijian{
    height:300px;
    padding-top:0px;
    border-top-width:1px;
    padding-left:0px;
    float: left;
    width: 234px;
    margin-right: 14px;
}
#jishutupian{
    width:234px;
    height: 339px;
}
#shijian1{
    float: left;
    height: 340px;
    list-style-type: none;
    padding-left:0px;
    margin-right: 14px;

}
#shijian2{
    float: left;
    height: 340px;
    list-style-type: none;
    padding-left:0px;
    margin-right: 0;
}

#heishao-33{
    margin:2px 0 42px;
    overflow: hidden;
    height: 120px;
}

#main-list2002 li:before{
    top: -1px;
      left: 6px;
      width: 64px;
      height: 1px;
  }
  
  #main-list2002 li:before, #main-list2002 li:after{
    position: absolute;
      content: "";
      background: #665e57;
  }
  
  #main-list2002 li:after{
    top: 6px;
      left: 0;
      width: 1px;
      height: 70px;
  }
  #dakuang-CLP{
      padding-top:22px;
      background-color:#f5f5f5;
  }
  #xiaokuang-CLP{
      width: 1226px;
      margin: 0 auto;
  }
  #zhineng-33{
      height: 686px;
      margin-bottom: 8px;

  }
  #zhineng-top{
      position: relative;
      height: 58px;

  }
  #zhineng-top-right{
      position: absolute;
      top:0px;
      right: 0px;
      width: 326px;
      height: 42px;
  }
  #zhineng-top-main{
      width: 326px;
      height: 42px;
      margin:0px;
      padding: 16px 0 0;
      list-style-type:none;
      font-size:16px;

  }
  #top-main{
      float: left;
      padding: 0px;
      display: inline-block;

      border-bottom: 2px solid #ff6700;
      margin:0 0 0 30px;
      width: 32px;
      height: 26px;
  }
  #top-main1{
    float: left;
    padding: 0px;
    display: inline-block;

    border-bottom: 2px solid #ff6700;
    margin:0 0 0 30px;
    width:48px;
    height: 26px;
  }
  #zhineng-top-main a{
      color:#ff6700;
  }
  #zhineng-main1{
      margin-left:-14px;

  }

  #zhineng-main-left{
      width:234px;
    float: left;
    margin-left:14px;
    min-height: 1px;

  }
  #zhineng-main-left-main{
      margin:0 0 -14px -14px;
      height: 614px;
      padding: 0px;
      list-style-type: none;

  }
  #zhineng-main-left-main-left{
      height: 300px;
      padding: 0px;
      position: relative;
      float: left;
      width: 234px;
      margin-left:14px;
      margin-bottom: 14px;
      list-style-type: none;
  }
  #pic55{
      width:234px;
      height: 300px;
  }
  #zhineng-main1{
      width:1240px;
      height: 628px;
  }
  #zhineng-main-right{
      width:978px;
    float: left;
    margin-left:14px;
    min-height: 1px;

  }
  #zhineng-main-right-tu{
      margin: 0 0 -14px -14px;
      width:992px;
      height:  614px;
      padding: 0px;
      list-style-type: none;
  }
  #zhineng-main-right-main-tupian{
      height: 280px;
      padding: 0px;
      position: relative;
      float:left;
      width:234px;
      margin-left:14px;
      margin-bottom: 14px;
      padding-bottom: 20px;

  }
  #pic66{
      width:234px;
      height: 300px;
  }
  #zhineng-bottom{
      margin:28px 0 22px;
      height: 120px;
      overflow: hidden;
  }
  #pic77{
      
  }